body {
    font: 16px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body.ZC {
    min-height: 100%;
    background-color: #002718;
}

.login-In {
    margin-top: 20px;
    background-color: #ffd532;
    color: #002718;
    font-weight: bold;
    font-size: 30px;
}

body.YD {
    min-height: 100%;
    background-color: #36474f;
}

body.YD .login-In {
    background-color: #fd5822;
    color: #fdffff;
}

body.YD .fontsColor {
    color: #fd1f69;

}

body.WX {
    min-height: 100%;
    background-color: #3b3b3b;
}

body.WX .fontsColor {
    color: #fe5454;
}

body.WX .login-In {
    background-color: #fe5454;
    color: #fdffff;
}

body.WB {
    min-height: 100%;
    background-color: #7d7d7d;
}

body.WB .fontsColor {

}

body.WB .login-In {
    background-color: #a4c520;
    color: #fdffff;
}

body.BD {
    min-height: 100%;
    background-color: #564277;
}

body.BD .fontsColor {
    color: #fd1f69;
}

body.BD .login-In {
    background-color: #ff1e6c;
    color: #fdffff;
}

body.ZCGR {
    min-height: 100%;
    background-color: #32323a;
}

body.ZCGR .fontsColor {

}

body.ZCGR .login-In {
    background-color: #1fb5ac;
    color: #fdffff;
}

body.SJFX {
    min-height: 100%;
    background-color: #147a62;
}

body.SJFX .fontsColor {

}

body.SJFX .login-In {
    background-color: #ff7900;
    color: #fdffff;
}

.overallSituationFontsColor {
    color: #ffd532;
}

ul li {
    list-style: none;
}

.tit img {
    margin-top: 8rem;
    width: 75%;
}

.tit h1 {
    position: relative;
    top: -16px;;
    display: inline-block;
}

.tit div {
    display: inline-block;
    width: 210px;
    height: 60px;
}

.tit div.t-left {

    background-color: transparent;
    border: none;
    border-radius: 0;
    background-image: url('../img/left.png');
    background-repeat: no-repeat;
    background-size: 100%
}

.tit div.t-right {
    background-color: transparent;
    border: none;
    border-radius: 0;
    background-image: url('../img/right.png');
    background-repeat: no-repeat;
    background-size: 100%
}

.login-tit {

    font-size: 60px;
    font-weight: bold;
    padding-top: 10%;
}

.admin {
    border: none;
    border-radius: 0;
    background-color: #eeeeee;
}

.admin-TKey {
    display: none;
    margin-bottom: 4rem;
}

.contentBox {
    min-height: 286px;
}

.TKey {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.admin-input, .admin-addon {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b5b5b5;
    color: #121212;
    height: 50px;

}

.admin-input input {
    color: #9b9a98;
}

.admin-addon {
    font-size: 32px;

}

.admin-input-d {
    padding: 26px 0px;
    max-width: 320px;
    margin: 0 auto;
}

.tk-tit {
    color: #002718;
}

.verificationCode {
    width: 150px;
    text-align: center;
    border: none;
    padding: 10px 0 0 10px;
}

.vCode {
    background-color: #ffd532;
}

.admin-vc {
    width: 170px;
    padding-left: 12px;
}

.cor::-webkit-input-placeholder {
    color: #9b9a98;
}

.tit-fonCor {
    color: #f9f8f5;
}

.use {
    width: 100%;
}

/* VCode  */

legend {
    color: #FDFDFD;
}

fieldset {
    padding: 20px;
    /* border-radius: 10px;
     margin-top: 20px;*/
}

input[type="button"] {
    background: #cd5c5c;
    padding: 0 40px;
    cursor: pointer;
}

input[type="button"]:hover {
    background: palevioletred;
}

.mycode {
    font-size: 20px;
    text-align: center;
    text-align: -webkit-center;
    width: 130px;
    margin-left: 20px;
    margin-top: 6px;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    vertical-align: middle;
    /* border-radius: 10px;*/
}

.gradient {
    background: -moz-linear-gradient(top, #222222, #333333);
    background: -webkit-linear-gradient(top, #222222, #333333);
    background: -ms-linear-gradient(top, #222222, #333333);
    background: linear-gradient(top, #222222, #333333);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#333333)";
+ background: #333333;
}

/* index */

.entrance {
    width: 156px;
    height: 131px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    background-image: url('../img/com.png');
    background-repeat: no-repeat;
    background-size: 100%
}

.en-ul {
    clear: both;
}

.en-ul li {
    width: 156px;
    float: left;
    margin: 0px 14px;
}

.en-ul li p {
    font-size: 16px;
    margin-top: 10px;
    height: 30px;
}

.en-ul li a {
    color: #ffd532;
    text-decoration: none;
}

.en-ul li a::hover {
    text-decoration: none;
}

.en-ul li a::link {
    text-decoration: none;
}

.entrance span {
    width: 156px;
    height: 131px;
    line-height: 131px;
    font-size: 5rem;
    color: #6f753c;
}

.login-panel {
    margin-top: 10%
}

/* -- */
.tit-h img {
    width: 100%;
}

.contentBac {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100%
}

.wrapper-pad {
    padding: 0 2em;
}

.nav-icon {
    display: block;

    text-align: center;
    background-image: url("../img/com.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 168px;
    height: 156px;
}

.nav-icon i {
    width: 168px;
    height: 156px;
    color: #bcbcbb;
    font-size: 8em;
}

ul.nav-box {
    max-width: 200px;
}

ul.nav-box li {
    text-align: center;
    display: inline-block;
}

p.nav-txt {
    padding: .6em 0 .8em;
    font-size: 2rem;
    color: #ffd532;
}

.wrapper-content {
    padding: 0 3em;
}

.content-right {
    margin-left: 2em;
    width: 1520px;
    height: 880px;
    background-image: url("../img/bac.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.Message {
    color: #ffd532;
}

.Message .M-row {
    height: 80px;
    line-height: 80px;
    font-size: 2em;
    border-bottom: 1px solid #ffd532;
}

.Message input {
    min-width: 554px;
    background: transparent;
    border: none;

}

.messageBox {
    padding: 16rem 2em 2em 2em;
}

.img1 {
    width: 300px;

}

.img2 {
    height: 363px;
    width: 300px;
    display: none;
}

.userMessage {

    display: inline-block;
    display: -webkit-inline-box;
    width: 150px;
    font-size: 2rem;
}

/*
*/

.imgbox {
    float: left;
    position: relative;
    overflow: hidden;
}

.imgnum {
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

.imgnum input, .imgnum1 input {
    position: absolute;
    opacity: 0;
}

.imgnum input[type=file] {
    width: 100%;
    height: 100%;
}

.btnPreservation {
    padding-top: 6em;
}

.btn-pr {
    height: 60px;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #002718;
    background-color: #ffd532;
}

table {
    color: #6e706f;
    font-size: 2em;
    margin-top: 3em;
    border: 2px solid #fff;
}

table tr {

    width: 100%;
    height: 58px;
}

.pagination {
    position: fixed;
    display: block;
    height: 30px;
    width: 310px;
    max-width: 310px;
    font-size: 16px;
    left: 50%;
    margin-left: -155px;
    margin-bottom: 1.4em;
}

.dis {
    display: none;
}

.main-num {
    min-width: 74px;
}

.form-Information tr th {
    text-align: center;

}

#Information-datatable tr td, #Information-datatable tr th {
    border: 1px solid #fff;;
}

#Information-datatable > tbody > tr > td, #Information-datatable > tbody > tr > th, #Information-datatable > tfoot > tr > td, #Information-datatable > tfoot > tr > th, #Information-datatable > thead > tr > td, #Information-datatable > thead > tr > th {
    padding: 8px;
}

.btn-group {
    margin-left: -15px;
    position: absolute;
    z-index: 11;
    top: -12px;;
}

.btn-primary {
    background-color: #008600;
    color: #fff;
    border: #008600;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #008600;
    border-color: #008600;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #008600;
    border-color: #008600;
}

.dele {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 11;

}

.dele .btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
}

.dele .glyphicon {
    top: 2px;
    color: #ffd532;
}

.user {
    top: -4em;;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 30px;
    text-align: right;
}

.see .M-row {
    border-bottom: none;
}

#nav ul li,.userName {
    cursor: pointer;
}

.odd-ed {
    color: #d718ba;
}

.new-ed {
    color: #ffd532;
}
